*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.laranja{
    background-color: rgb(243, 173, 43);
    transition: all 0.25s ease-in-out;
}

.vermelho{
    background-color: rgb(175, 40, 40);
    transition: all 0.25s ease-in-out;
}

.purpura{
    background-color: rgb(109, 29, 109);
    transition: all 0.25s ease-in-out;
}

button{
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: 300px;
    margin: 0 10px;

}