@media (min-width:1800px) {

    /*header*/
    .logo {
        margin-left: 250px;
        padding: 10px;
        width: 80px;
        min-width: 50px;
    }

    .logo2 {
        margin-right: 250px;
        padding: 10px;
        width: 80px;
        min-width: 50px;
    }



}

@media (max-width:1500px) {
    #ofertas {
        display: grid;
        grid-template-columns: 1fr;

        justify-items: center;

    }
    #ofertas2{
        display: grid;
        grid-template-areas: 
            ".ofe-itens1 .ofe-itens2"
            ".ofe-itens1 .ofe-itens2"
            ".ofe-itens3 .ofe-itens4"
          
        ;
        justify-content: center;
        column-gap: 10px;
     
    }


}




/*Fim header*/


@media (max-width:900px) {

    /*header*/
    .logo {
        margin: 0;
        padding: 10px;
        background-color: rgb(30, 0, 255);
        width: 80px;
        min-width: 50px;
    }

    .logo2 {
        margin: 0;
        padding: 10px;
        background-color: rgb(4, 0, 255);
        width: 80px;
        min-width: 50px;
    }

    /*Fim header*/
    /*Anuncios*/
    #anuncios {
        display: grid;
        max-width: 1200px;
        grid-template-areas:
            "itens itens "
            "itens itens "
            "itens itens "

        ;
        row-gap: 5px;
        column-gap: 5px;
        justify-content: center;
        margin-bottom: 10px;
    }

    /*Fim anuncios*/
    /*videos*/
    #video {
        margin: 0 auto;
        width: 580px;

    }

    /*Fim videos*/
    #ofertas {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

    }

    .of1>img {
        max-width: 450px;
        min-width: 350px;
    }

    .of2>img {
        max-width: 450px;
        min-width: 350px;
    }


}



@media (max-width:700px) {

    /*header*/
    header {
        display: block;
        position: relative;
        z-index: 1;
        justify-content: center;
        text-align: center;
    }

    .menu {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    ul {
        flex-direction: column;
        width: 100%;
    }

    a {
        display: block;
    }

    .logo {
        width: auto;
    }

    .logo2 {
        display: none;
    }

    .slider {
        position: relative;
        top: 200px;
        height: 450px;
    }

    /*Fim header*/
    /*Conteudos Anuncios div anuncios*/

    .separador {
        display: none;
    }

    #anuncios {
        margin-top: 220px;

    }

    /*Fim conteudos Anuncios div anuncios*/


}

@media (max-width:600px) {

    /*Header*/
    .logo {
        margin: 0 auto;
        width: 150px;
        background-color: rgb(206, 244, 244);
    }

    /* Fim Header*/
    /*Conteudos Anuncios div anuncios*/
    #anuncios {
        display: grid;
        max-width: 1200px;
        grid-template-areas:
            "itens"
            "itens"
            "itens"
        ;
        row-gap: 5px;
        column-gap: 5px;
        justify-content: center;
    }

    .itens {
        background-color: aliceblue;
        width: 277px;
        height: 350px;
        border-radius: 3px 3px 10px 10px;
        margin: 0px 10px 0px 10px;
    }

    .anu_img {
        width: 277px;
        height: 180px;
        background-color: aqua;
        border-radius: 5px 5px 10px 10px;

    }

    .img-mod0 {
        width: 277px;
        height: 180px;
        background-color: aqua;
        border-radius: 5px 5px 10px 10px;
    }

    /*Fim onteudos Anuncios div anuncios*/
    /*vídeo*/
    #video {
        margin: 0 auto;
        width: 280px;
        height: 300px;

    }

    #video:after {

        height: 300px;
    }

    /*Fim vídeo*/
    #ofertas {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;


    }

    .of1>img {
        width: 250px;
    }

    .of2>img {
       width: 250px;
    }


}