@media (min-width:1800px) {
    .logo {
        margin-left: 250px;
        padding: 10px;
        width: 80px;
        min-width: 50px;
    }

    .logo2 {
        margin-right: 250px;
        padding: 10px;
        width: 80px;
        min-width: 50px;
    }
}



@media (max-width:900px) {
    .logo {
        margin: 0;
        padding: 10px;
        background-color: rgb(30, 0, 255);
        width: 80px;
        min-width: 50px;
    }

    .logo2 {
        margin: 0;
        padding: 10px;
        background-color: rgb(4, 0, 255);
        width: 80px;
        min-width: 50px;
    }
    #anuncios{
        display: grid;
        max-width: 1200px;
        grid-template-areas: 
        "itens itens "
        "itens itens "
        "itens itens "
        
        ;
        row-gap: 5px;
        column-gap: 5px;
        justify-content: center;
           
    
    }

}



@media (max-width:700px) {
    header {
        display: block;
        justify-content: center;
        text-align: center;
    }

    .menu {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    ul {
        flex-direction: column;
        width: 100%;
    }

    a {
        display: block;
    }

    .logo {
        width: auto;
    }

    .logo2 {
        display: none;
    }

    .slider {
        position: relative;
        top: 200px;
        height: 450px;
    }

    /*anuncios*/

    .separador {
        display: none;
    }

    #anuncios {
        margin-top: 220px;

    }
}
    @media (max-width:600px) {
       .logo {
         margin: 0 auto;
         width: 150px; 
         background-color: rgb(206, 244, 244);
        }
        #anuncios{
            display: grid;
            max-width: 1200px;
            grid-template-areas: 
            "itens"
            "itens"
            "itens"
            
            ;
            row-gap: 5px;
            column-gap: 5px;
            justify-content: center;   
        }

        .itens{
            background-color: aliceblue;
            width: 277px;
            height: 350px;
            border-radius: 3px 3px 10px 10px;
            margin: 0px 10px 0px 10px;
        }
        
        .anu_img{
            width: 277px;
            height: 180px;
            background-color: aqua;
            border-radius: 5px 5px 10px 10px;
            
        }
        
        .img-mod0{
            width: 277px;
            height: 180px;
            background-color: aqua;
            border-radius: 5px 5px 10px 10px;
        }
        
        

    }







