*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

#containner_topo{
    background-color: black;
    width: 100%;
    height: 200px;
}


header{
    width: 900px;
    height: 80px;
    background-color: red;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

header .logo a{
    display: block;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 30px;
    text-indent: -99999;

}
.menu{
   
   
}


.menu ul{
   display: flex;
   flex-direction: row;
}

.menu ul li{
    flex-direction: row;
}

.menu ul li a{
    flex-direction: row;
    margin-left: 10px;
}


