*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header{
    height: 200px;
    width: auto;
    background-color: #884A27;
    
}
#menutopo{
    width: 90%;
    height: 150px;
    background-color: #884A27;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#logo a {
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(../img/logo.png) no-repeat;
    
}

#menu{
    
    
    
}

#menu ul{
    display: flex;
   
}

#menu ul li a{ 
   padding: 8px;
   background-color: #8b2626;
   margin: 2px;
   font-size: 1.2rem;
}








nav{
    max-width: 1000vh;
    height: 400px;
    background-color: aqua;
    margin: 0 auto;
    position: relative;
    bottom: 70px;
}

#conteudo{
    width: 90;
}