*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header{
    height: 200px;
    width: auto;
    background-color: #884A27;
    
}
#menutopo{
    width: 90%;
    height: 150px;
    background-color: #884A27;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#logo a {
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(../img/logo.png) no-repeat;
    
}

#menu{
    
    
    
}

#menu ul{
    display: flex;
   
}

#menu ul li a{ 
   padding: 8px;
   background-color: #8b2626;
   margin: 2px;
   font-size: 1.2rem;
}







nav{
    width: 90%;
    height: auto;
    background-color: rgb(0, 255, 255);
    position: relative;
    bottom: 90px;
    margin: 0 auto;
    display: flex;

}

section{
    width: auto;
    height: 500px;
    margin: 10px;
}

nav section:nth-child(1){
    background-color: #884A27;
    width: 60%;
   
}

nav section:nth-child(2){
    background-color: #8b2626;
   width: 40%;
}

@media only screen and (max-width: 750px) {
    #menu {
      position: relative;
      top: 40px;
      right: 270px; 
    }
    ul{
       
    }
    li a{
    
       float: right;
    }
    nav{
        margin-top: 40px;
    }
  }





@media only screen and (max-width: 670px) {
    nav section:nth-child(1),nav section:nth-child(2){
        background-color: red;
        width: auto;
    }
    nav{
        height: 1000px;
        flex-direction: column;
        margin-top: 40px;
    }
  }






