



@keyframes containner3{
    from{background-color: rgba(255, 187, 0, 0.185);}
    to{background-color: rgb(0, 0, 0);
        width: 80px;
        height: 15px;
        border-radius: 80px;
        transform: rotate(45deg);
        
    }
    
}


#containner3{
width: 350px;
height: 150px;
background-color: rgb(0, 0, 0);
animation-name: containner3;
animation-duration: 2s;
position: relative;
top: 33px;
animation-fill-mode: forwards;
}


@keyframes containner4{
    from{background-color: rgba(255, 187, 0, 0.185);}
    to{background-color: rgb(0, 0, 0);
        width: 80px;
        height: 15px;
        border-radius: 80px;
        transform: rotate(-45deg);
        position: relative;
        bottom: 10px;
    }
    
}

#containner4{
    width: 350px;
    height: 150px;
    background-color: rgb(0, 0, 0);
    animation-name: containner4;
    animation-duration: 2s;

    position: relative;
    top: 20px;
    animation-fill-mode: forwards;
}


#containner5{
    width: 300px;
    height: 300px;
    background-color: orange;
    margin-top: 50px;
    position: relative;
    
  
}
#containner5:hover{
    width: 400px;
    background-color: yellow;
    transition: 3s;
}



#conteudo{
    background-color: #dcdcdc;
    height: 700px;
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;                    /*Auto organização*/
}

.itens{
    background: white;
    border: 1px solid red;
    margin: 10px;
    width: 450px;
    height: 100px;
    margin: 0 auto;
    
}


#conteudo2{
    background-color: #dcdcdc;
    height: 300px;
    display: flex;
    flex-direction: row;     
}

.itens1{
    background: white;
    width: 500px;
    height: 100px;
    margin: 10px;
   
 
}

.ordem1{
    order: 1;
}
.ordem2{
    order: 2;
}
.ordem3{
    order: 3;
}
.ordem4{
    order: 4;
}

#conteudo3{
    background-color: grey;
    height: 800px;
    width: auto;
    display: flex;
    flex-direction: row;

}

.itens2{
  
   margin: 10px; 
   border: 1px solid red;

}

.itens3{
    max-width: 600px;
    min-width: 500px;
    margin: 10px; 
    border: 1px solid red;
 
 }

.flex1{
    flex-grow: 2;
    flex-shrink: 1;
}


.flex2{
    flex-grow: 1;
    flex-wrap: wrap;
    
}



#conteudo4{
    width: auto;
    height: 900px;
    background-color: grey;
    display: flex;
    flex-direction: row;
}

.itens4{
    width: 400px;
    height: 100px;
    border: 1px solid red;
    margin: 10px;
   
}

.flex_shrick{
    flex-shrink: 2;
}

.flex_grow{
    flex-grow: 3;
}

.flex_basic{
    flex-basis: 500px;
}
